form {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;

  

    .act_btn{
        width: 20%;
        margin: 0 auto;

    }
    .form-control {
        width: 40%;
    }
    .btn{
        width: 83%;
    }
    input[type="text"],select,
     textarea {
        border: 1px solid #ddd;
        color: #777;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
    }
    select{
        width: 100%;
        padding: 1.5rem;
    }
}

.customer_tbl{
    width: 100%;

}

table{
    width: 100%;
    border-collapse: collapse;
    // table-layout: fixed;
    td,th{
        padding: .6rem;
        border:1px solid #ddd;
        text-align: center;
    }
    th{
        color: #777;
    }
    img{
        width: 6rem;
        height: 6rem;
    }
    .act_btn{
        display: flex;
        justify-content: center;
        gap: 3rem;
        a{
      
                display: flex;
                align-items: center;
                gap: 3px;
      
        }
    }
}